@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: matter;
    src: url("/fonts/MatterMedium.ttf");
}


html{
    overflow-x: hidden;
    background-color: black;
}