@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: satoshi;
    src: url("/fonts/satoshi.ttf");
}

@font-face {
    font-family: general;
    src: url("/fonts/general.ttf");
}


html,body{
    overflow-x: clip;
    display: flow-root;
    background-color: #1d1f21;
    scroll-behavior: smooth;
}